@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f9f9f9;
}

li, a, button,h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#185abd;
    text-decoration: none;
    text-transform: uppercase;
}
p{
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
}
.logo{
    height: 50px;                                      
    cursor: pointer;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0 20px;
    margin-left: 0;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
    color: #53bbf4;
}

#nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 7%;
    box-shadow: 0 15px 10px -15px #1111112b;
    background-color: white;
    height: 60px;
    top:0;
    width: 100%;
    position:fixed;
    z-index: 99;
}
.Login{
    background-color: #53bbf4;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    border-radius: 20px;
    border:2px solid #53bbf4;
}
.Login:hover{
    background-color: transparent;
    color: #53bbf4;
}
.SignUp{
    background-color: transparent;
    border:2px solid #185abd;
    color: #185abd;
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    border-radius: 20px;
    cursor: pointer;
}
.SignUp:hover{
    background-color: #185abd;
    color: white;
}
.RightButtons{
    margin-left: auto;
}
/*ENDNavbar*/

/*Hamburger Icon*/
.MenuToggle{
    width: 38px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    z-index: 99;
    display: none;
}

.MenuToggle .bar,
.MenuToggle:before,
.MenuToggle:after{
 content: '';
 display: block;
 width: 70%;
 height: 5px;
 background-color: #185abd;
 margin: 6px 0px;
 margin-left: 5.275px;
 -webkit-transition: 0.4s;
 transition: 0.4s;
 border-radius: 8px;
}  
.MenuToggle.is-active:before {
 -webkit-transform: rotate(-45deg) translate(-8px, 6px);
 transform: rotate(-45deg) translate(-8px, 6px)
}

.MenuToggle.is-active:after {
 -webkit-transform: rotate(45deg) translate(-9px, -8px);
 transform: rotate(45deg) translate(-9px, -8px)
}


.MenuToggle.is-active .bar {
 opacity: 0
}
/*End_H*/

/*Hero*/
   .hero{
       width:100%;
       background-image: linear-gradient(0deg, rgba(24,90,189,1) 0%, rgba(255,255,255,0) 100%), url(../img/hero/Main.jpg);
       height:100vh;
       border-bottom-left-radius: 100px;
       border-bottom-right-radius: 100px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
   .main{
       width:100%;
       height: 100%;
   }
   .main h1{
  position: absolute;
  color: white;
  font-size: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   }
/*EndHero*/
.tp{
    width: 80%;
    height: 140px;
    background-color: white;
    position: absolute;
    top: 90%;
    left: calc(50% - 40%);
    border-radius: 20px;
    box-shadow: 0 3px 54px 0 hsl(0deg 0% 86% / 57%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tp .items-img{
    width: 50px;
    margin-right: 15px;
}
.tp .items
{
    display: flex;
    align-items: center;
}


.s1{
    width: 100%;
}
.s1 .Main_pic{
    width: 100%;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    text-align: center;
    margin-top: 210px;
}
.content .contentTitle{
    font-size: 20px;
    margin-bottom: 10px;
}


.vd{
    width: 80%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    border: 1px solid #efeff0;
    border-radius: 19px;
    background: url(../img/Other/video_thumb.jpg);
    background-position: center;
    background-size: cover;
}
.vd .pulse-button{
    position: relative;
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: 0 0 0 0 #53bbf4;
    border-radius: 50%;
    background-color: #53bbf4;
    background-image: url(http://www.clipartbest.com/cliparts/bTy/EkL/bTyEkLGrc.png);
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.60s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.60s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.60s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.60s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-top: 1px solid #efeff0;
    padding-top: 50px;
}
footer img{
    width: 150px;
    margin-bottom: 5px;
}
footer h2{
    color: #091e42;
    font-size: 15px;
}

.section3{
    display: flex;
    width: 100%;
    padding: 10px 7%;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    
}
.video_{
    width: 60%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
}
.content_{
    width: 40%;
}
 
.content_ .title_{
   font-size: 30px;
   margin-bottom: 20px;
}
.content_ .content__{
    font-size: 20px;
    margin-bottom: 15px;
}
.content_ .Btn_{
    width: 200px;
    height: 40px;
    background-color: transparent;
    background-color: #185abd;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
}
.content_ .Btn_ a{
    color: white;
}


.video_pop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background:rgba(0,0,0,0.95) ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.video_pop.active{
    visibility: visible;
    opacity: 1;
}
.video_pop .close_{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    cursor: pointer;
}
.video_pop .overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.brands{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 7%;
    padding-top: 0;
}
.brands h1{
    color: #53bbf4;
    text-align: center;
}

.brands_{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.brands_ svg{
    fill: #505f79;
    margin-right: 25px;
    margin-top: 20px;
}

/*Media Querry*/
@media (max-width: 900px)
{
    .navLinks li{
        padding: 0 10px;
    }

    .SignUp{
        padding: 9px 15px;
    }
    .Login{
        padding: 9px 15px;
    }
    button{
        font-size: 13px;
    }
    
}
.mobile-menu{
    display: none;
}



@media (max-width: 768px)
{
   .navLinks{
       display: none;
   }
   .RightButtons{
       display: none;
   }
   .MenuToggle{
       display: block;
   }
   .navLinks.is-active{
   top: 0;
   left: 0;
   height: 80%;
   width: 100%;
   background-color: white;
   display: flex; 
   flex-direction: column;
   justify-content:center;
   align-items: center;   
   position: fixed;
   border-bottom-left-radius: 70px;
   border-bottom-right-radius: 70px;
   box-shadow: 0px 4px 64px rgba(0,0,0,0.35);
   }
   li{
    font-size: 40px;
    text-align: center;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #53bbf4;
   }
  
   .hero{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
   }
   .tp{
       height: 250px;
       flex-direction: column;
       justify-content: center;
   }
   .tp .items
   {
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
  
.content{
    margin-top: 230px;
}
.section3{
    flex-direction: column;
}
.video_{
    margin-top: 30px;
    width: 100%;
}
.content_{
    width: 100%;
}
.content_ .title_, .content__{
    text-align: center;
}
.vd{
    width: 100%;
}
   
}